/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html{
    height: 100%;
}
body{
    width: 800px;
    margin: 0 auto;
    height: 100%;
}
#content{
    min-height: 100%;
    position: relative;
    border: 1px solid lightblue;
}
#header{
    position: relative;
    padding: 10px;
}
#header h2{
    font-weight: bold;
}
#header, #footer{
    background-color: lightblue;
}
#page-content{
    clear: both;
    height: 100%;
    padding: 0 8px 50px;
}
#footer{
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
#footer > p{
    padding: 0 10px;
}

.new{
    float: right;
}
table{
    width: 100%;
}
#login-status{
    position: absolute;
    top: 10px;
    right: 20px;
}
.wrapper{
    position: relative;
}
.visits{
    position: absolute;
    bottom: 20px;
    right: 20px;
}